# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Model files
*.pkl
*.joblib

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store